// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8121rem;

// colors
$white: #FFF;
$black: #2D3033;
$gray_text:  #6C7279;
$light-gray: #C6CBCD;
$logo_gray: #656980;
$nav_hover-line:  #BABBC5;
$red_btn-normal: #FF4343;
$red_nav-active_button-hover: #E71414;
$work_hover: rgba(255, 67, 67, 0.80);
$work_active:  rgba(185, 12, 12, 0.80);
$footer_light:rgba(53, 60, 101, 1);
$footer_dark: #2C3154;
$bgr_text: #5C3249;



