.feature {
    padding: 116px 0px;
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    &_item {
        max-width: 370px;
        margin-bottom: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_item:nth-child(n+4):nth-child(-n+6){
        margin-bottom: 0px;
    }
    &_item-img {
        width: 100px;
        height: 100px;
        margin-bottom: 30px;
    }
    img{
        width: 100%;
    }
    h4 {
        @include feature;
        margin-bottom: 21px;
    }
    &_item-text {
        @include feature-subtitle;
    }
}