.work {
   padding:133px 0px 114px;
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px;
    } 
    &_img {
        width: 366px;
        height: 340px;
    }
    img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
 